@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  font-family: "Lato", "Courier New", Courier, monospace;
}
::-webkit-scrollbar {
  display: none;
}

@layer utilities {

  .clip-your-needful-style {

      clip-path: polygon(0 0, 100% 0, 100% 50%, 0 calc(100% - 6vw));

  }

}